<h4 ng-if="vm.auth.isAuthenticated()">
    You are logged in!
</h4>
<h4 ng-if="!vm.auth.isAuthenticated()">
  You are not logged in! Please <a ng-click="vm.auth.login()">Log In</a> to continue.
</h4>
<!--<div ng-if="vm.auth.isAuthenticated()">
  <div class="panel panel-default profile-area">
    <div class="panel-heading"><h3>Profile</h3></div>
    <div class="panel-body">
      <img ng-src="{{ vm.profile.picture }}" class="avatar" alt="avatar">
      <div>
        <label><i class="glyphicon glyphicon-user"></i> Nickname</label>
        <h3 class="nickname">{{ vm.profile.nickname }}</h3>
      </div>
      <pre class="full-profile">{{ vm.profile | json }}</pre>
    </div>
  </div>
</div> -->
<div class="text-center">
      <button
        id="qsLogMeIn"
        class="btn btn-primary btn-margin"
        ng-click="vm.auth.login()">
          1. Log In
      </button>
      <span style="padding-right:10px"></span>
      <button
        id="qsShowLinkedAccount"
        class="btn btn-primary btn-margin"
        ng-click="vm.auth.login()">
          2. Show Linked Account
      </button>
      <span style="padding-right:10px"></span>
      <button
        id="qsShowUserProfile"
        class="btn btn-primary btn-margin"
        ng-click="vm.getFullUserProfile()">
          3,5,6. Show Auth0 User Profile
      </button>
      <span style="padding-right:10px"></span>
      <button
        id="qsOrderPizzaButton"
        class="btn btn-primary btn-margin"
        ng-click="vm.orderPizza()">
          4. Order a pizza
      </button>
    
    <br />
    <p>{{vm.message}}</p>
    <button
        id="qsVerifyEmail"
        class="btn btn-primary btn-margin"
        ng-if='!vm.email_verified && vm.order_click'
        ng-click="vm.verifyEmail()">
          4a. Verify email
      </button>
    <!--<p>{{vm.fullProfile}}</p> -->
  </div>
