<h4 ng-if="vm.auth.isAuthenticated()">
    You are logged in!
</h4>
<h4 ng-if="!vm.auth.isAuthenticated()">
  You are not logged in! Please <a ng-click="vm.auth.login()">Log In</a> to continue.
</h4>

<div class="text-center">


      <button
        id="qsOrderPizzaButton"
        class="btn btn-primary btn-margin"
        ng-click="vm.orderPizza()">
        Login and order a pizza
      </button>    
    <br />
    <p>{{vm.message}}</p>
    <button
        id="qsVerifyEmail"
        class="btn btn-primary btn-margin"
        ng-if='!vm.email_verified && vm.order_click'
        ng-click="vm.verifyEmail()">
          4a. Verify email
      </button>
    <!--<p>{{vm.fullProfile}}</p> -->
  </div>
